@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome</h1>

<h3>Choose one</h3>

<button type="button" class="btn"><a asp-area="" asp-controller="Home" asp-action="Books">Books</a></button>
<button type="button" class="btn"><a asp-area="" asp-controller="Home" asp-action="Authors">Authors</a></button>