@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome</h1>

<h3>Choose one</h3>

<button type="button" class="btn"><a asp-area="" asp-controller="Book" asp-action="Index">Books</a></button>
<button type="button" class="btn"><a asp-area="" asp-controller="Author" asp-action="Index">Authors</a></button>